.box {
    height: 233px;
    position: relative;
    width: 716px;
}

.box .resea-hamburguesa {
    background-color: #fcfcfc;
    border-radius: 12px;
    height: 233px;
    left: 0;
    position: fixed;
    top: 0;
    width: 716px;
}

.box .description {
    height: 109px;
    left: 249px;
    position: absolute;
    top: 17px;
    width: 223px;
}

.box .text-wrapper {
    color: #000000;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 32px;
    font-weight: 600;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
}

.box .div {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 47px;
}

.box .text-wrapper-2 {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 80px;
}

.image img{
    width: 100%;
}
.containerProfile{
    max-width: 100%;
    background-color: #9d5b5b;
    text-align: -webkit-center;
    padding-top: 2em;
    padding-bottom: 2em;
}
.containerProfile img{
    border-radius: 50%;
}
.imgProfile{

}

.box .estrellas {
    height: 36px;
    left: 249px;
    position: absolute;
    top: 133px;
    width: 168px;
}

.tags li{
    background-color: #d17fb5;
    border-radius: 15%;
    /*border-end-end-radius:100%;
    boder-top-right-radius:100%;*/
    padding: .2em;
    padding-right: .3em;
}

.overlap {
}

 .text-wrapper-3 {
}

.overlap-group {
    background-color: #d17fb5;
    border-radius: 12px;
    height: 37px;
    left: 131px;
    position: absolute;
    top: 0;
    width: 154px;
}

.box .text-wrapper-4 {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 12px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 5px;
    width: 138px;
}

.box .div-wrapper {
    background-color: #ca344f;
    border-radius: 12px;
    height: 37px;
    left: 295px;
    position: absolute;
    top: 0;
    width: 64px;
}

.box .text-wrapper-5 {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 12px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 5px;
    width: 48px;
}

.box .favs-comments {
    height: 144px;
    left: 645px;
    position: absolute;
    top: 17px;
    width: 56px;
}

.box .text-wrapper-6 {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 12px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 125px;
    white-space: nowrap;
}

.box .comments {
    height: 52px;
    left: 0;
    position: absolute;
    top: 73px;
    width: 52px;
}

.box .overlap-2 {
    height: 66px;
    left: 0;
    position: absolute;
    top: 0;
    width: 52px;
}

.box .heart {
    height: 52px;
    left: 0;
    position: absolute;
    top: 0;
    width: 52px;
}

.box .text-wrapper-7 {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 11px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 47px;
    white-space: nowrap;
}
