@tailwind base;
@tailwind components;
@tailwind utilities;

.general {
    height: 100vh;
    width: 100vw;
}

.heightTotal {
    height: 100vh;
}

.formSearch {
    padding-top: 2rem;
    align-items: center;
    align-content: center;
}
.formSearch button {
    background-color: #9d5b5b;
}

.filters {
    padding-top: 2rem;
}
.filters button {
    width: 90%;
}
.sendfilters button {
    background-color: #9d5b5b;
}

@media (max-width: 830px) {
    .filters {
        padding-left: 2rem;
    }
}
@media (min-width: 750px) {
    #home {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    .homePage{
        padding-top: 90px;
    }
}
#filter button {
    background-color: #9d5b5b;
}
@media (max-width: 500px) {
    #filter {
        padding-top: 2rem;
    }
}
.containerFilter {
    display: flex;
    text-align: center;
    background-color: #f5f5f5;
    width: 100%;
    border-radius: 10px;
}

.newpost button {
    background-color: #9d5b5b;
}

.btn-flotante {
    font-size: 16px; /* Cambiar el tamaño de la tipografia */
    text-transform: uppercase; /* Texto en mayusculas */
    font-weight: bold; /* Fuente en negrita o bold */
    color: #ffffff; /* Color del texto */
    border-radius: 5px; /* Borde del boton */
    letter-spacing: 2px; /* Espacio entre letras */
    background-color: #9d5b5b;
    padding: 18px 30px; /* Relleno del boton */
    position: fixed;
    bottom: 60px;
    right: 40px;
    transition: all 300ms ease 0ms;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    z-index: 99;
}
.btn-flotante:hover {
    background-color: #d63447;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
    transform: translateY(-7px);
}
.btn-hover:hover {
    background-color: #d63447;
}
@media only screen and (max-width: 600px) {
    .btn-flotante {
        font-size: 14px;
        padding: 12px 20px;
        bottom: 20px;
        right: 20px;
    }
}
